.cart-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #ffffff;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
  font-size: 16px;
}

.cart-item button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.total-sum {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
  color: #333;
}

.cart-item-image {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-right: 15px;
  border: 1px solid #e0e0e0;
  padding: 5px;
  border-radius: 4px;
}

.cleaner-butonn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  display: block;
  margin-top: 10px;
  margin-left: auto;
}

.cleaner-butonn:hover {
  background-color: #cc0000;
}
