.footer {
  background-color: #f8f8f8;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p {
  color: #666;
  font-size: 14px;
  margin: 0;
}
