.header-wraper {
  background-color: #f3fde4;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  z-index: 100;
}

.catalog-button {
  background-color: #72b01d;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.catalog-button:hover {
  background-color: #5f9216;
}
.header-wraper {
  background-color: #f3fde4;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  z-index: 100;

  /* --- Додано для плавності --- */
  /* Дозволяє елементам переноситись, якщо їм не вистачає місця */
  flex-wrap: wrap;
  gap: 15px; /* Додаємо базовий проміжок між елементами */
}

.catalog-button {
  background-color: #72b01d;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.catalog-button:hover {
  background-color: #5f9216;
}

@media (max-width: 768px) {
  .header-wraper {
    flex-direction: column;

    align-items: flex-start;
  }
}
