.hero-slider {
  width: 100%;
  margin-bottom: 40px;
}

.slide {
  padding: 5px;
  box-sizing: border-box;
}

.slide-content {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: right;
  border-radius: 8px;
  min-height: 250px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  color: #ffc107;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.slide-content h2 {
  font-size: 2.5em;
  margin-bottom: 5px;
}

.slide-content p {
  font-size: 1.2em;
}
