.product-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  width: 220px;

  display: flex;
  flex-direction: column;
}

.product-image-placeholder {
  width: 100%;
  height: 180px;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product-name {
  font-size: 18px;
  color: #333;
  margin: 10px 0;

  height: 44px;
  line-height: 1.2;

  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 2; /* Стара властивість */
  line-clamp: 2; /* --- ОСЬ ЦЯ ЗМІНА --- Нова, стандартна властивість */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #e44d26;
  margin-bottom: 15px;
}

.product-image {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 4px;
  margin-bottom: 10px;
}

.buy-button {
  background-color: green;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  flex-grow: 1;
}

.button-container {
  display: flex;
  width: 100%;
  margin-top: auto;
  padding-top: 10px;
}

.favorite-button {
  padding: 8px 12px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #555;
}

.favorite-button:hover {
  background-color: #f5f5f5;
  color: #000;
}
