.product-list-container {
  margin-top: 30px;
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.list-wrapper > div {
  padding: 0 10px;
  box-sizing: border-box;
}
.product-list-container {
  margin-top: 30px;
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.list-wrapper > div {
  padding: 0 10px;
  box-sizing: border-box;

  height: auto !important;
  min-height: 400px;
}
