.banner-container {
  background-color: #fefa32;
  color: #333;
  padding: 30px;
  text-align: center;
  border-radius: 8px;
  margin: 40px 0;
}

.banner-container h3 {
  font-size: 24px;
  margin-top: 0;
  font-weight: bold;
}

.banner-container p {
  font-size: 16px;
  margin-bottom: 20px;
}

.banner-button {
  background-color: #72b01d;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.banner-button:hover {
  background-color: #5f9216;
}
