.container {
  display: flex;
  flex-grow: 1;
  margin: 0 20px;
}

.input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;

  border: 1px solid #ccc;

  border-radius: 8px 0 0 8px;

  border-right: none;
}

.input:focus {
  outline: none;
  border-color: #72b01d;
}

.search-button {
  background-color: #72b01d;
  color: #ffffff;
  border: none;

  border-radius: 0 8px 8px 0;

  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #5f9216;
}
